<div class="col">
  <div class="col-md-12 m-3">
    <img src=""  class="rounded-circle" width="200px" height="200px">
  </div>
  <div class="col-md-12">
     <div class="col-md-12 m-4">
      <h2> <i class="fas fa-info-circle blue-color"></i>&nbsp; Information de du clients/Fournisseurs</h2>
     </div>
     <div class="col-md-12">
      <form>
      <div class="row m-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Nom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse 1">
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prénom">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Adresse">
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Téléphone">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Code postale">
        </div>
        </div>
        <div class="row m-3">
          <div class="col">
            &nbsp;
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Pays">
          </div>
          </div>
    </form>
     </div>
  </div>
  <div class="col-md-12 text-lg-end">
    <button class="btn btn-danger m-1">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary m-4">
      <i class="fas fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>
</div>

