<div class="col">
  <div class="col-md-12 m-3">
    <img src=""  class="rounded-circle" width="200px" height="200px">
  </div>
  <div class="col-md-12">
     <div class="col-md-12 m-4">
      <h2> <i class="fas fa-info-circle blue-color"></i>&nbsp; Information de l'article</h2>
     </div>
     <div class="col-md-12">
      <form>
      <div class="row m-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Code Article">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Désignation">
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prix unitaire HT">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Taux TVA">
        </div>
      </div>
      <div class="row m-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="Prix unitaire TTC">
        </div>
        <div class="col">
          <div class="btn-group">
            <button class="btn btn-secondary  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Selectionner une Catégorie
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Selectionner une Catégorie </a></li>
              <li><a class="dropdown-item" href="#">Menu item</a></li>
              <li><a class="dropdown-item" href="#">Menu item</a></li>
            </ul>
          </div>

        </div>
      </div>
    </form>
     </div>
  </div>
  <div class="col-md-12 text-lg-end">
    <button class="btn btn-danger m-1">
      <i class="fa-solid fa-ban"></i>&nbsp;
      Annuler
    </button>
    <button class="btn btn-primary m-4">
      <i class="fas fa-save"></i>&nbsp;
      Enregistrer
    </button>
  </div>
</div>

