<div class="container my-container">
  <div class="card justify-content-md-center">
    <h3 class="card-header text-center">S'inscrire </h3>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Nom</label>
        <input type="text" class="form-control"placeholder="Nom">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Prenom</label>
        <input type="text" class="form-control"placeholder="Prenom">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Code Fiscal</label>
        <input type="email" class="form-control"  placeholder="Code Fiscal">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" class="form-control" placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Address">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Ville</label>
        <input type="email" class="form-control"  placeholder="Ville">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" placeholder="">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Confirmer votre mot de passe</label>
        <input type="password" class="form-control" placeholder="">
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <a routerLink="/login" class="btn btn-link"><i class="fa-sharp fa-solid fa-check"></i>&nbsp; Se Connecter</a>
        <button type="button" class="btn btn-primary">S'inscrire</button>


      </div>

  </div>
</div>

