<div class="row mb-1 mr-0 custom-border ">
  <div class="col-md-2 custom-border-right p-1 text-center mb-1 mt-1">
    <img  id="img-logo" src="src/app/img/p.png"  width="100px" height="100px">
</div>
<!--Détails articles -->
<div class="col-md-4 custom-border-right mb-1 mt-1 ">
     <div class="col">
      <div class="row">
        <div class="mr-2"><i class="fas fa-info-circle blue-color"></i>&nbsp; Nom</div>
      </div>
      <div class="row">
        <div  class="mr-2"><i class="fas fa-info-circle blue-color"></i>&nbsp;Prénom</div>
      </div>
      <div class="row">
        <div  class="mr-2"><i class="fa-solid fa-phone blue-color"></i>&nbsp;123456789</div>
      </div>
    </div>
</div>
<!-- Details catégories-->
<div class="col-md-3 custom-border-right mb-1 mt-1 ">
  <div class="col">
    <div class="row">
      <div class="mr-2"><i class="fa-solid fa-house-user blue-color"></i>&nbsp; Adresse1 Adresse2</div>
    </div>
    <div class="row">
      <div  class="mr-2"><i class="fa-solid fa-map blue-color"></i>&nbsp;1234 Ville</div>
    </div>
    <div class="row">
      <div  class="mr-2"><i class="fa-solid fa-globe blue-color"></i>&nbsp;Pays</div>
    </div>
</div>
</div>
<!--Button action-->
<div class="col-md-3 mb-1 mt-1 ">
  <div class="row">
    <div class="col-md-6 text-center">
    <button type="button" class="btn btn-link ">
      <i class="fas fa-pencil-alt blue-color"></i>
     &nbsp; Modifier
    </button>
    </div>
    <div class="col-md-6 text-center">
    <button type="button" class="btn btn-link ">
      <i class="fas fa-trash-alt blue-color"></i>
      &nbsp; Supprimer
    </button>
    </div>
    </div>
   </div>
</div>

