<div class="row mb-1 mr-4 mt-1 custom-border ">
  <div class=" col-md-2 border-right text-center mb-1 mt-1">
    <img  id="img-logo" src="src/app/img/p.png"  width="100px" height="100px">
</div>
<!--Détails articles -->
<div class="col-md-4 border-right mb-1 mt-1 ">
     <div class="col">
      <div class="row">
        <div class="mr-2">
          <i class="fas fa-info-circle blue-color"></i>
          &nbsp;Nom</div>
      </div>
      <div class="row">
        <div  class="mr-2"><i class="fas fa-info-circle blue-color"></i>&nbsp;
          Prénom</div>
      </div>
      <div class="row">
        <div  class="mr-2"><i class="fas fa-phone-alt blue-color"></i>&nbsp;
        546 688 699 000</div>
      </div>
    </div>
</div>
<!-- Details Commandes-->
<div class="col-md-2 border-right mb-1 mt-1 ">
  <div class="col">
    <div class="row">
      <div class="mr-2">
        <i class="fa-solid fa-qrcode blue-color"></i>
        &nbsp;CMD-123456789</div>
    </div>
    <div class="row">
      <div  class="mr-2"><i class="fa-solid fa-calendar-days blue-color"></i>&nbsp;
        23.02.2000</div>
    </div>
    <div class="row">
      <div  class="mr-2"><i class="fa-brands fa-shopify blue-color"></i>&nbsp;
      Livré</div>
    </div>
  </div>
</div>
<!--Button action-->
<div class="col-md-3 mb-1 mt-1">
  <div class="row">
    <div class="col-md-6 text-center">
    <button type="button" class="btn btn-link " data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-pencil-alt blue-color"></i>
     Modifier
    </button>
  </div>
  <div class="col-md-6 text-center">
    <button type="button" class="btn btn-link " data-toggle="modal" data-target="#exampleModal">
      <i class="fas fa-trash-alt blue-color"></i>
      Supprimer
    </button>
  </div>
</div>
</div>
</div>
