<div class="row mb-1 mr-0 mt-1 custom-border ">
  <!--Détails articles -->
  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
        <div class="row text-center">
          <div class="mr-2 text-center">
            <h6> Code Article</h6> </div>
        </div>
  </div>

  <div class="col-md-3 custom-border-right mb-1 mt-1 ">
    <div class="row">
            <div class="col-md-12 text-center">
             <h6>Désignation Article</h6>
        </div>
      </div>
    </div>

    <div class="col-md-2 custom-border-right mb-1 mt-1 ">
      <div class="row">
              <div class="col-md-12 text-center">
               <h6>6</h6>
          </div>
        </div>
      </div>

      <div class="col-md-2 custom-border-right mb-1 mt-1 ">
        <div class="row">
                <div class="col-md-12 text-center">
                 <h6>12,8</h6>
            </div>
          </div>
        </div>
  <div class="col-md-2 mb-1 mt-1 ">
    <div class="row">
            <div class="col-md-12 text-center">
             <h6>78,9</h6>
        </div>
      </div>
    </div>
