<div class="container my-container">
  <div class="card justify-content-md-center">
    <h3 class="card-header text-center">Login </h3>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control"  placeholder="name@example.com">
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input type="password" class="form-control">
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <a routerLink="/inscription" class="btn btn-link">S'inscrire</a>
        <button type="button" class="btn btn-primary"><i class="fa-sharp fa-solid fa-check"></i>&nbsp; Se connecter</button>

      </div>

  </div>
</div>

