<div class="d-flex">
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-warning">
      <i class="fa-solid fa-cloud-arrow-up"></i>&nbsp; Importer
    </button>
  </div>
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-success">
      <i class="fa-solid fa-download"></i> &nbsp; Exporter
    </button>
  </div>
  <div class="p-2 flex-fill">
    <button type="button" class="btn btn-primary">
      <i class="fa-solid fa-plus"></i>&nbsp;Nouveau
    </button>
  </div>

</div>
